[Unit]
Description=ring LED lights
After=multi-user.target
ConditionPathExists=/home/pi/raspi-facecam/brekel_LED.py

[Service]
ExecStart=python /home/pi/raspi-facecam/brekel_LED.py
Restart=no

[Install]
WantedBy=multi-user.target